h1.heading
{
color:	#FF1493;
background-color:#E6E6FA
}

h2.row
{
color:#ffff66;
background-color:#ffccff;
}

h2.info
{
color:#00FFFF;
background-color:#ff99ff;
}
p.image
{
background-color:#EE82EE;
}